<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name='robots' content='noindex,follow'/>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url }}/assets/styles/styles.css" media="screen">
    <meta name="mobile-web-app-capable" content="yes">
</head>

<body>

<div class="main">
