<nav>
  <header>
    <img src="{{ url }}/assets/images/byu-hbll-logo-full.svg" alt="HBLL Logo">
  </header>
  <ul>
    <li><a href="{{ url }}/">Home</a></li>
    <li><a href="{{ url }}/faq.php">FAQs</a></li>
  </ul>
</nav>
