{% set url   = (url|default('http://localhost:8888/journals')) %}
{% set title = (title|default('Journals Overlap Database')) %}

{% include '_head.tmpl' %}

{% include '_nav.tmpl' %}

{% include '_body.tmpl' %}

{% include '_footer.tmpl' %}
