{% set title = [fund, ' Fund Code']|join %}

{% set content %}
    <h1>{{ fundName }} ({{ fund }})<br/>{{ librarians }}</h1>
    <table>
        <tr><th colspan="2">Fund Code Statistics</th></tr>
        <tr><td>Number of journals</td><td>{{ format_number(numTitles) }}</td></tr>
        <tr><td>Total spend</td><td>${{ format_number(totalSpend) }}</td></tr>
        <tr><td>Average cost</td><td>${{ format_number(averagePrice) }}</td></tr>
        <tr><td>Average use</td><td>{{ format_number(averageUse) }}</td></tr>
        <tr><td>Average h-index</td><td>{{ no_data(averageHIndex) }}</td></tr>
        <tr><td>Average IPP</td><td>{{ no_data(averageIpp) }}</td></tr>
    </table>
    <h3><a href="export.php?fund={{ fund }}">Export [.csv]</a></h3>
    <table id="table">
        <thead>
            <tr><th>Title</th><th>Type</th><th>Price</th><th data-orderable="false">Platforms</th><th>2016 YTD Use</th><th>2015 Use</th><th>h-index</th><th>IPP</th></tr>
        </thead>
        <tfoot>
            <tr><th>Title</th><th>Type</th><th>Price</th><th>Platforms</th><th>2016 YTD Use</th><th>2015 Use</th><th>h-index</th><th>IPP</th></tr>
        </tfoot>
        <tbody>
        {% for journal in journals %}

            {% set issn %}
                {% if journal.sfxIssn and journal.sfxEIssn %}
                    {% set formattedIssn = journal.sfxIssn|split('', 4) %}
                    {% set formattedEIssn = journal.sfxEIssn|split('', 4) %}
                    <br/><a href="http://catalog.lib.byu.edu/uhtbin/cgisirsi/X/0/0/5/?user_id=WEBSERVER&new_gateway_db=ILINK&searchdata1={{ journal.titleControl }}">[Catalog]</a> | <a href="http://sfx.lib.byu.edu/sfxlcl3?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&amp;rft.issn={{ formattedIssn.0 }}-{{ formattedIssn.1 }}&amp;rft.jtitle={{ journal.sfxTitle|trim|url_encode }}.&amp;rft.genre=article&amp;rfr_id=info:sid/sfxit.com:citation">[SFX]</a>
                    <br/>ISSN {{ formattedIssn.0 }}-{{ formattedIssn.1 }} <br/>eISSN {{ formattedEIssn.0 }}-{{ formattedEIssn.1 }}
                {% elseif journal.sfxIssn %}
                    {% set formattedIssn = journal.sfxIssn|split('', 4) %}
                    <br/><a href="http://catalog.lib.byu.edu/uhtbin/cgisirsi/X/0/0/5/?user_id=WEBSERVER&new_gateway_db=ILINK&searchdata1={{ journal.titleControl }}">[Catalog]</a> | <a href="http://sfx.lib.byu.edu/sfxlcl3?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&amp;rft.issn={{ formattedIssn.0 }}-{{ formattedIssn.1 }}&amp;rft.jtitle={{ journal.sfxTitle|trim|url_encode }}.&amp;rft.genre=article&amp;rfr_id=info:sid/sfxit.com:citation">[SFX]</a>
                    <br/>ISSN {{ formattedIssn.0 }}-{{ formattedIssn.1 }}
                {% elseif journal.sfxEIssn %}
                    {% set formattedEIssn = journal.sfxEIssn|split('', 4) %}
                    <br/><a href="http://catalog.lib.byu.edu/uhtbin/cgisirsi/X/0/0/5/?user_id=WEBSERVER&new_gateway_db=ILINK&searchdata1={{ journal.titleControl }}">[Catalog]</a> | <a href="http://sfx.lib.byu.edu/sfxlcl3?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&amp;rft.issn={{ formattedEIssn.0 }}-{{ formattedEIssn.1 }}&amp;rft.jtitle={{ journal.sfxTitle|trim|url_encode }}.&amp;rft.genre=article&amp;rfr_id=info:sid/sfxit.com:citation">[SFX]</a>
                    <br/>eISSN {{ formattedEIssn.0 }}-{{ formattedEIssn.1 }}
                {% else %}
                    <br/><a href="http://catalog.lib.byu.edu/uhtbin/cgisirsi/X/0/0/5/?user_id=WEBSERVER&new_gateway_db=ILINK&searchdata1={{ journal.titleControl }}">[Catalog]</a>
                {% endif %}
            {% endset %}

            {% set price %}
                {% if journal.price2016 > 0 %}
                    ${{ journal.price2016|number_format }}
                {% elseif journal.price2015 > 0 %}
                    ${{ journal.price2015|number_format }}
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            {% set platforms %}
                {% if journal.platforms is not null%}
                    <ol>
                    {% for platform in journal.platforms|split('|') %}
                        <li>{{ platform }}</li>
                    {% endfor %}
                    </ol>
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            {% set usageLatest %}
                {% if journal.usage2016 is not null %}
                    {{ journal.usage2016|number_format }}
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            {% set usageLastYear %}
                {% if journal.usage2015 is not null %}
                    {{ journal.usage2015|number_format }}
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            {% set hIndex %}
                {% if journal.hIndex is not null %}
                    {{ journal.hIndex }}
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            {% set ipp %}
                {% if journal.ipp2015 is not null %}
                    {{ journal.ipp2015 }}
                {% else %}
                    No data
                {% endif %}
            {% endset %}

            <tr>
                <td data-order="{{ journal.sfxSortableTitle|trim }}"><a href="journal.php?titleControl={{ journal.titleControl }}">{{ journal.sfxTitle|trim }}</a>{{ issn }}</td>
                <td>{{ account_type(journal.account) }}</td>
                <td data-order="{{ sort_number(price) }}" class="{{ average_class(price, averagePrice, 'bad') }}">{{ price|trim }}</td>
                <td>{{ platforms }}</td>
                <td data-order="{{ sort_number(usageLatest) }}" class="{{ average_class(usageLatest, averageUse) }}">{{ usageLatest }}</td>
                <td data-order="{{ sort_number(usageLastYear) }}" class="{{ average_class(usageLastYear, averageUse) }}">{{ usageLastYear }}</td>
                <td data-order="{{ sort_number(hIndex) }}" class="{{ average_class(hIndex, averageHIndex) }}">{{ hIndex}}</td>
                <td data-order="{{ sort_number(ipp) }}" class="{{ average_class(ipp, averageIpp) }}">{{ ipp }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}

{% include 'base.tmpl' %}
