{% set title = 'Home :: Journals Overlap Database' %}

{% set content %}
    <h1>Fund Codes</h1>

    <h3><a href="export.php?fund=all">Export [.csv]</a></h3>
    <table id="table">
        <thead>
            <tr><th>Fund Code</th><th>Librarian</th><th>Subject</th></tr>
        </thead>
        <tfoot>
            <tr><th>Fund Code</th><th>Librarian</th><th>Subject</th></tr>
        </tfoot>
        <tbody>
            {% for fundCode, fund in funds %}
                <tr>
                    <td><a href="fund.php?fund={{ fundCode }}&amp;fundName={{ fund.fundName }}&amp;librarians={{ fund.librarians }}">{{ fundCode }}</a></td>
                    <td>{{ fund.librarians }}</td>
                    <td><a href="fund.php?fund={{ fundCode }}&amp;fundName={{ fund.fundName }}&amp;librarians={{ fund.librarians }}">{{ fund.fundName }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endset %}

{% include 'base.tmpl' %}
