{% set title = journal.sfxTitle %}

{% set issn %}
    {% if journal.sfxIssn and journal.sfxEIssn %}
        {% set formattedIssn = journal.sfxIssn|split('', 4) %}
        {% set formattedEIssn = journal.sfxEIssn|split('', 4) %}
        ISSN {{ formattedIssn.0 }}-{{ formattedIssn.1 }} <br/>eISSN {{ formattedEIssn.0 }}-{{ formattedEIssn.1 }}
    {% elseif journal.sfxIssn %}
        {% set formattedIssn = journal.sfxIssn|split('', 4) %}
        ISSN {{ formattedIssn.0 }}-{{ formattedIssn.1 }}
    {% elseif journal.sfxEIssn %}
        {% set formattedEIssn = journal.sfxEIssn|split('', 4) %}
        eISSN {{ formattedEIssn.0 }}-{{ formattedEIssn.1 }}
    {% endif %}
{% endset %}

{% set price %}
    {% if journal.price2016 > 0 %}
        ${{ journal.price2016|number_format }}
    {% elseif journal.price2015 > 0 %}
        ${{ journal.price2015|number_format }}
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set platforms %}
    {% if journal.platforms is not null%}
        <ol>
        {% for platform in journal.platforms|split('|') %}
            <li>{{ platform }}</li>
        {% endfor %}
        </ol>
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set usageLatest %}
    {% if journal.usage2016 is not null %}
        {{ journal.usage2016|number_format }}
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set usageLastYear %}
    {% if journal.usage2015 is not null %}
        {{ journal.usage2015|number_format }}
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set hIndex %}
    {% if journal.hIndex is not null %}
        {{ journal.hIndex }}
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set ipp %}
    {% if journal.ipp2015 is not null %}
        {{ journal.ipp2015 }}
    {% else %}
        No data
    {% endif %}
{% endset %}

{% set content %}
    <h1>{{ journal.sfxTitle }}</h1>
    <h3>{{ fundName }} ({{ fund }}) {{ librarians }}</h3>
    <h2>{{ issn }}</h2>
    {% if range.min > 0 %}
        <h3>BYU Usage</h3>
        <table>
            <tr><th>Platform</th>
                {% if range.min is not null %}
                    {% for i in range.min..range.max %}
                        <th>{{ i }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
            {% set usePlatform = usage.0.platform %}
            <tr><td>{{ usePlatform }}</td>
            {% for use in usage %}
                {% if usePlatform != use.platform %}
                    {% set usePlatform = use.platform %}
                    </tr><tr><td>{{ usePlatform }}</td>
                    <td>{{ format_number(use.total) }}</td>
                {% else %}
                    <td>{{ format_number(use.total) }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            <tr><td><strong>TOTAL</strong></td>
                {% for total in totals %}
                    <td><strong>{{ format_number(total.total) }}</strong></td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    <h3>2015 Journal Bibliometrics</h3>
    <table>
        <tr><th>Metric</th><th>Number</th></tr>
        <tr><td>Total Docs (2015)</td><td>{{ no_data(journal.totalDocs2015) }}</td></tr>
        <tr><td>Total Docs (3 years)</td><td>{{ no_data(journal.totalDocs3Years) }}</td></tr>
        <tr><td>Total References</td><td>{{ no_data(journal.totalRefs) }}</td></tr>
        <tr><td>Total Cites (3 years)</td><td>{{ no_data(journal.totalCites3Years) }}</td></tr>
        <tr><td>Citable Docs (3 years)</td><td>{{ no_data(journal.citableDocs3Years) }}</td></tr>
        <tr><td>Cites Per Doc (2 years)</td><td>{{ no_data(journal.citesPerDoc2Years) }}</td></tr>
        <tr><td>References per Doc</td><td>{{ no_data(journal.refsPerDoc) }}</td></tr>
        <tr><td>h-index</td><td>{{ no_data(journal.hIndex) }}</td></tr>
        <tr><td>SNIP</td><td>{{ no_data(journal.snip2015) }}</td></tr>
        <tr><td>SJR</td><td>{{ no_data(journal.sjr2015) }}</td></tr>
        <tr><td>IPP</td><td>{{ no_data(journal.ipp2015) }}</td></tr>
    </table>

    <h3>Historical Journal Bibliometrics</h3>
    {% if scopus is not empty %}
        <p><a href="http://www.scimagojr.com/journalsearch.php?q={{ scopus }}&amp;tip=sid&amp;exact=no"><img src="http://www.scimagojr.com/journal_img.php?id={{ scopus }}"/></a></p>
    {% endif %}
    <div id="snip"></div>
    <div id="ipp"></div>
    <div id="sjr"></div>

{% endset %}

{% include 'base.tmpl' %}
